---
version: 1.0.0
package:
  name: {{ name }}
  version: {{ version }}
  depends:
    - database >=1.0.0
    - swss >=1.0.0
    - syncd >=1.0.0
  sonic-version: '>=1.0.0'
service:
  name: teamd
  requires:
    - database
    - updategraph
  after:
    - database
    - swss
    - syncd
    - updategraph
  before:
    - ntp-config
  dependent-of:
    - swss
  asic-service: True
  host-service: False
container:
  privileged: True
  volumes:
    - /etc/sonic:/etc/sonic:ro
    - /host/warmboot/:/host/warmboot:ro
    - /host/machine.conf:/host/machine.conf:ro
    - /etc/sonic:/etc/sonic:ro
    - /var/log/swss:/var/log/swss:rw

