---
version: 1.0.0
package:
  name: {{ name }}
  version: {{ version }}
  depends:
    - database >=1.0.0
    - syncd >=1.0.0
  breaks:
    - fpm-quagga
    - fpm-frr
  sonic-version: '>=1.0.0'
service:
  name: bgp
  requires:
    - database
    - updategraph
  after:
    - database
  before:
    - ntp-config
  asic-service: True
  host-service: False
container:
  privileged: True
  volumes:
    - /etc/sonic:/etc/sonic:ro

