---
version: 1.0.0
package:
  name: {{ name }}
  version: {{ version }}
  depends:
    - database >=1.0.0
    - swss >=1.0.0
  sonic-version: '>=1.0.0'
service:
  name: iccpd
  requires:
    - swss
    - updategraph
  after:
    - database
    - swss
    - syncd
  before:
    - ntp-config
  asic-service: False
  host-service: True
container:
  privileged: True
  volumes:
    - /etc/sonic:/etc/sonic:ro

