---
version: 1.0.0
package:
  name: {{ name }}
  version: {{ version }}
  sonic-version: '>=1.0.0'
service:
  name: database
  requires:
    - docker
  after:
    - docker
    - rc-local
  asic-service: True
  host-service: True
container:
  privileged: True
  volumes:
    - /etc/sonic:/etc/sonic:ro

